body
{
	height:100%;
	background-position: top bottom;
	background-size: body;
	background-repeat: no-repeat;
}

.navbar
{
	min-height: 57px;
}

footer{
  position:fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

#warningStartQuiz{
	text-align: justify;
	font-size: large;
}

#rulesBody{
	font-size: large;
}

.newParagraph{
	text-indent: 1.5em;
	text-align: justify;
	font-size: large;
}